.react-horizontal-scrolling-menu--scroll-container {
    gap: 0.5rem;
}

.scroll-card {
    border-radius: 12px;
    border: none;
    width: 240px;
    height: 100%;
    background: none;
    overflow: hidden;
    cursor: pointer;
}

.scroll-card-image {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: block;
}

.scroll-card-image img {
    border-radius: 12px;
    width: 100%;
    height: 340px;
}

.scroll-card-image-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 0.4rem 0.8rem;    
}

.scroll-card-title {
    text-decoration: none;
    font-size: 20px;
    color: #ccc;
    display: inline-block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.scroll-card:hover {
    transition: 0.2s linear;
    .scroll-card-title {
        color: #ddd;
    }
    .scroll-card-image img {
        transition: 0.2s linear;
        scale: 1.2;
        opacity: 0.1;
    }

    .scroll-card-image-back {
        display: block;
    }
}

.scroll-arrow:hover {
    color: #ccc;
}

.scroll-arrow:disabled {
    display: none;
}

.scroll-card-image-back span {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.scroll-card-image-back .synopsis {
    text-wrap: wrap;
    max-height: 150px;
    font-size: 0.9rem;
}
